@page "/AcercaDe"



<h1>Acerca de Mí</h1>

<img src="C:\Users\SP\source\repos\Tarea 1\Tarea 1\Pages\static\user.jpeg" alt="Mi Foto" width="150" height="150" />
<p>Nombre Completo: Darlyn Enmanuel Pérez.</p>
<p><a href="https://wa.me/+18299146138">Chat en WhatsApp</a></p>
<p><a href="https://t.me/Dary141">Chat en Telegram</a></p>
<p>Correo Electrónico: 202010102@itla.edu.do & conjamonqueso71@gmail.com </p>
<p>A futuro me complacería laborar en áreas tecnológicas, las principales son ciberseguridad y software. Cabe destacar que fuera de lo tecnológico tengo capacitación en diferentes ámbitos y gustos hacia puestos que me gustaría ejercer en caso de no poseer puesto alguno en área tecnológica, pero no los explicaré para no extender más esto.</p>

@code {

}
