@page "/AprendeMas"

<h1>Aprende más sobre Blazor.</h1>


<div>
    <h2> Que es Blazor? | ejemplo básico</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/VDkiB5F7FH0?si=lnJnExUlyf9zJD2O&amp;start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   
    <p>
        En este video te explicare en resumen que es blazor....
    </p>
</div>


<div>
    <h2>
        Primer Vistazo A MAUI .NET con Blazor
    </h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/bMwD3tHq8XY?si=mI_-8EymRa8g8lkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p>
        En este video tendremos un primer vistazo a la tecnología MAUI combinada con Blazor, con las cuales podremos desarrollar tanto aplicaciones moviles como de escritorio con la ayuda de C#.

    </p>
</div>


<div>
    <h2>
        Novedades de Blazor en .NET 8 (Todo sobre Blazor SSR)
    </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EBvDPGYe8rY?si=yzNme6m7D0E9oxJp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p>
        En este video, te muestro las novedades de Blazor en .NET 8

    </p>
</div>



<div>
    <h2>Curso de Blazor en español 1</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/weda0npFxtk?si=IVY3AyJz6z7Qz9tw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p>
        Curso para aprender Blazor en español.
    </p>
</div>


<div>
    <h2>
        Crear CRUD en Blazor y ASP.NET WEB API ✅ Completo ✅
    </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NOJveObsX0Q?si=XE8DK9NTuIu914S_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <p>
        Aqui crearemos un programa completo una web api con blazor.
    </p>
</div>


@code {

}
