@page "/"

<h3>Inicio</h3>



@using System.Timers

<h1>Bienvenido a mi tarea de Blazor WebAssembly</h1>
<p>Gracias por ver mi tarea. ¡Espero que disfrutes explorando la aplicación!</p>
<p>"El aprendizaje es el camino hacia el éxito. ¡Nunca dejes de aprender!"</p>


<img src="https://marketingyservicios.com/wp-content/uploads/2022/07/camino-al-exito.webp" alt="Alternate Text" />



<style>
    h1 {
      color: #2E8B57;
      transition: color 0.5s;
    }
    h1:hover {
      color: #FF4500;
      text-shadow: 2px 2px 4px #000000;
    }
    p {
      font-size: 18px;
      color: #333333;
    }
</style>

@code {

}
